/* Responsive Layout */

/* Defaults CSS */
.headerSection{
   width: 100%;
   padding-block: 2svh;
   position: fixed;
   inset: 0 auto auto 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
}


.contactBtn {
  width: 60px;
  height: 60px;

  border: none;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  background-color: #8F62D4;
  color: #fff;

  animation: morphBtn 8s ease-in-out infinite;
}

/* ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  animation: moveIcon 8s ease-in-out infinite;
}

.icon img {
  width: 24px;
  height: 24px;
}

/* PHONE NUMBER */
.phoneNumber {
  position: absolute;
  top: 50%;
  left: 65px;

  transform: translateY(-50%);

  opacity: 0;

  animation: textVisibility 8s ease-in-out infinite;
}

@keyframes morphBtn {
  0%, 37.5% {
    width: 60px;
    border-radius: 50%;
  }

  50%, 87.5% {
    width: 180px;
    border-radius: 999px;
  }

  100% {
    width: 60px;
    border-radius: 50%;
  }
}

@keyframes moveIcon {
  /* Circle */
  0%, 37.5% {
    left: 50%;
  }

  /* Rectangle */
  50%, 87.5% {
    left: 30px;
  }

  /* Back to Circle */
  100% {
    left: 50%;
  }
}

@keyframes textVisibility {
  0%, 37.5% {
    opacity: 0;
  }

  50%, 87.5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.footerSection{
   display: none;
}

/* For the width of below 1024px */
.logoSection{
   margin-left: 2%;
}
.contactSection{
   margin-right: 2%;
}

/* For the width of 1024px and above */
@media only screen and (min-width: 1024px){
   .headerSection{
      margin: auto;
   }

   .logoSection{
      margin-left: 5%;
   }
   .contactSection{
      margin-right: 5%;
   }

   .footerSection{
      position: fixed;
      inset: auto auto 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}